".vs/" 
## Visual Studio и Rider
.vs/
.idea/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates
*.vsp
*.vspscc
*.vsix
*.vssscc
*.dotCover
*.swp

## Сборка проекта
bin/
obj/
TestResults/
[Tt]emp/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in[Oo]bj/
out/

## Файлы пакетов
*.nupkg
*.nupkg.metadata
packages/
[Nn]u[Gg]et[Bb]ootstrap/
NuGet.Config
NuGet.exe
NuGetScratch/

### 🔹 Системные и IDE-специфичные файлы
.DS_Store
Thumbs.db
*.cab
*.msi
*.msm
*.msp
*.cache
*.log
*.tmp
*.pidb
*.pdb
*.ilk
*.db
*.opendb
*.db-shm
*.db-wal

### 🔹 Тестовые и настройки
*.testlog
*.trx
*.VisualState.xml
*.tlog
*.lastbuildstate
*.sbr
*.ipch
*.exp
*.ilk
*.lib
*.manifest
*.spec
*.native
*.map
*.sym
*.pyc
*.pyo
*.pyd

### 🔹 Зависимости и окружение
.env
*.env.local
*.env.development
*.env.production
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swagger

### 🔹 Документация
*.chm
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx


appsettings.Development.json
appsettings.Local.json
appsettings.Private.json
appsettings.*.json
!appsettings.json
secrets.json
*/appsettings*.json
*/connectionstrings*.json


docker-compose.override.yml
docker-compose.vs.debug.yml
docker-compose.vs.release.yml
*/docker-compose.*.yml
!docker-compose.yml